
        footer{
           /*background-color:rgb(6, 72, 113);*/ /*bg-blue-700*/
           background-color: #162456;
           color:white;/*text-white*/
           border-top: 4px solid gold;/*border-4 border-t border-yellow-700*/
           display: flex; /*flex*/
             flex-wrap: wrap;/*flex-wrap*/
             justify-content:center;/*justify-center*/
             gap:25px /*gap-6*/
        }
        footer div{
            /* border:1px solid gray; */
            padding:12px; /*p-3*/
            width: 250px; /*w-62*/
            letter-spacing: 1px;/*tracking-[1px]*/

        }
        footer div h3{
            margin-bottom: 12px; /*mb-3*/
            color:gold /*text-yellow-700*/
        }
        footer div ul{
            list-style: none;/*list-none*/

        }
        
        footer div ul a{
            display:inline-block;
            color:white;
            text-decoration: none;/*no-underline*/
            margin-bottom: 8px;
        }

        /* FORMULARIO CONTACTO */


       .contactenos form {
    background-color: #0563a7;
    color: white;
    padding: 20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    border-radius: 10px;
}
.contactenos input {
    background-color: #052C3D;
    color: #00d9ff;
    width: 450px;
    height: 28px;
}
.contactenos textarea {
    background-color: #052C3D;
    color: #00d9ff;
    width: 450px;
}
.contactenos input[type="submit"] {
    background-color:#162456;
    width: 60px;
    height: 40px;
    border-radius: 5px;
    color: white;
}
.contactenos input[type="textarea"]{
    background-color: #052C3D;
    color: #00d9ff;
}

/*Contenedor de las fotos*/
.container-card{
            border: 1px solid gray;
            width: 80%;
            margin: 0 auto;
            display:grid;
                grid-template-columns: repeat(auto-fill , minmax(260px,1fr ));
                gap:10px

        }